// bootstrap theme
$theme-colors: (
  "light":      #dedad6,
  "dark":       #050506,
  "primary":    #224870,
  "secondary":  #2a4494,
  "info":       #6a5837,
  "success":    #249658,
  "warning":    #dfc727,
  "danger":     #eb1814,
);
$quick-silver: #a5a5a5ff;
$light-gray: #cccf;
$field-drab: #6a5837ff;
$indigo-dye: #224870ff;
$dark-cornflower-blue: #2a4494ff;
