// If you comment out code below, bootstrap will use red as primary color
// and btn-primary will become red

@import "colors.scss";


@import "~bootstrap/scss/bootstrap.scss";

html {
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-brand {
  font-size: 2rem;

  img {
    margin-left: 5px;
    margin-right: 5px;
  }
}
